In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [2]:
intelligence = "../Resources/intelligence.csv"

### Transform premise DataFrame

In [3]:
intelligence_df = pd.read_csv(intelligence)
intelligence_df.head()

               Breed  Classification obey  reps_lower  reps_upper
0      Border Collie  Brightest Dogs  95%           1           4
1             Poodle  Brightest Dogs  95%           1           4
2    German Shepherd  Brightest Dogs  95%           1           4
3   Golden Retriever  Brightest Dogs  95%           1           4
4  Doberman Pinscher  Brightest Dogs  95%           1           4

In [4]:
del intelligence_df['obey'] 
del intelligence_df['reps_lower'] 
del intelligence_df['reps_upper'] 
intelligence_df.head()

               Breed  Classification
0      Border Collie  Brightest Dogs
1             Poodle  Brightest Dogs
2    German Shepherd  Brightest Dogs
3   Golden Retriever  Brightest Dogs
4  Doberman Pinscher  Brightest Dogs

In [5]:
Classification_list = pd.DataFrame(intelligence_df['Classification'].unique())
Classification_list

                                                  0
0                                    Brightest Dogs
1                            Excellent Working Dogs
2                        Above Average Working Dogs
3            Average Working/Obedience Intelligence
4               Fair Working/Obedience Intelligence
5  Lowest Degree of Working/Obedience Intelligence

### Create database connection

In [6]:
# Confirm tables

### Load DataFrames into database